.page {
    display: grid;
    width: 100%;
    overflow-x: hidden;
    grid-template-areas: "head head"
                       "nav  main"
                       "nav  main";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 11fr;
}

.page > header {
    grid-area: head;
}

.page > nav {
    grid-area: nav;
}

.page > main {
    grid-area: main;

}

.categories:hover, .allCategories:hover {
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}
